.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 12px 8px;
}

.contactTitle {
  display: flex;
  gap: 10px;
}

.contactTitle:not(:last-of-type) {
  margin-bottom: 12px;
}

.contactIcon {
  width: 14px;
  height: 14px;
}

.contactInfo {
  font-size: 12px;
}

.button {
  border: 1px solid #767676;
  border-radius: 4px;
  background-color: #efefef;
  padding: 4px 8px;
  font-size: 12px;
}
